* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-image: url("../images/apple-pie.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    color: white;
    text-align: center;
    line-height: 15em;
}

.main-paragraph {
    text-align: justify;
}

#specification-image {
    align-items: center;
    margin-bottom: 50px;
}

#timing-image {
    align-items: center;
    margin-bottom: 40px;
}

hr {
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    text-align: left;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
}

ul > li:before {
    content: "- ";
}

ol {
    counter-reset: list;
    margin-bottom: 150px;
}
ol > li {
    list-style: none;
}
ol > li:before {
    content: counter(list) ") ";
    counter-increment: list;
}

li {
    text-align: left;
}

@media (min-width: 320px) {
    header {
        font-size: 1.2em;
        height: 300px;
    }
    
    .main-paragraph {
        font-size: 1rem;
        margin: 2rem;
    }
    
    #specification-image {
        height: 50px;
        margin-bottom: 25px;
    }
    
    #timing-image {
        height: 65px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 1.5em;
        margin: 2rem;
    }

    li {
        font-size: 1rem;
        margin: 0 2rem;
    }
}

@media (min-width: 700px) {
    header {
        font-size: 1.8em;
        height: 450px;
    }
    
    .main-paragraph {
        font-size: 1rem;
        margin: 2rem;
    }
    
    #specification-image {
        height: 70px;
        margin-bottom: 25px;
    }
    
    #timing-image {
        height: 95px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 1.5em;
        margin: 2rem;
    }

    li {
        font-size: 1rem;
        margin: 0 2rem;
    }
}

@media (min-width: 900px) {
    header {
        font-size: 4em;
        height: 1000px;
    }
    
    .main-paragraph {
        font-size: 2em;
        margin: 100px 150px 50px 150px;
    }
    
    #specification-image {
        height: 100px;
        margin-bottom: 50px;
    }
    
    #timing-image {
        height: 100px;
        margin-bottom: 40px;
    }
    
    hr {
        margin-left: 150px;
        margin-right: 150px;
    }
    
    h2 {
        font-size: 2.5em;
        margin-left: 150px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    
    li {
        font-size: 1.75em;
        margin-left: 150px;
        margin-right: 150px;
    }
}